# Database
DATABASE_PATH=./data/clawhub.db

# Session
SESSION_SECRET=your-secret-key-here-change-in-production
SESSION_DURATION=86400000

# Setup
SETUP_TOKEN_DURATION=3600000

# Development
NODE_ENV=development

# Application
BASE_URL=http://localhost:7777



# GRAFANA LOKI SETTINGS
LOKI_ENABLED=false 
LOKI_HOST=https://loki.localhost.com
LOKI_AUTH_USER=project
LOKI_AUTH_PASS=guclu_sifre